body {
	margin-top: 50px;
	padding: 0px;
	font-family: sans-serif;
	font-size: 12pt;

}
header {
	overflow: hidden;
	width: 920px;
	padding: 0px 40px;
}
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #000;
}

h2 {
	font-weight: 400;
	font-size: 30px;
	color: #000;
}

p, ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

a {
	color: #8C2287;
}

a:hover {
	text-decoration: none;
}
pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
  white-space: pre-wrap;
  page-break-inside: avoid;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 50%;
}
#contenedor {
	width: 1000px;
	margin: 0px auto;
}

.nav {
    background-color: #222222;
  	border-color: #080808;
  	position: fixed;
  	right: 0;
  	left: 0;
  	z-index: 1030;
  	top: 0;
    border-width: 0 0 1px;
    padding: 3px 3px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.barra {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #999999;
  text-decoration: none;
}

.barra:hover,
.barra:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
}


/*---------- PRINCIPAL ----------*/

#principal {
	padding: 50px;
	overflow: hidden;
	background: #BBC7C8;
	width: 600px;
	margin: 0px auto;
}


/*--------- CONTENIDO ---------*/

#contenido {
	float: left;
	width: 600px;
	text-align: justify;
}
.label {
	margin: 0.4em 0;
}



/*-----------------------FORMULARIO------------------*/
/*[required] {
	border-color:green;
	box-shadow: 0px 0px 5px green;
	-webkit-box-shadow: 0px 0px 5px green;
	-ms-box-shadow: 0px 0px 5px green;
}*/

form {
	font-family: sans-serif;
}

fieldset {
	float: left;
	width: 60%;
	font-family: sans-serif;
	font-size: 15px;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: 25px;
}

form input, form textarea {
	color: #444444;
	font-size:14px;
	font-family: sans-serif;
	border: 1px solid rgba(0,0,0,1);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	-ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	transition: background 1s, box-shadow: :; border 1s;
	-webkit-transition: background 1s, -webkit-box-shadow: 1s; border 1s;
	-ms-transition: background 1s, -webkit-box-shadow: 1s; border 1s;
}

form input:hover, form textarea:hover {
	background:#999;
	border: 1px solid #fff;
}
label {
	width: 25%;
  	float: left;
}