html {
	font-family: sans-serif;
}

a {
  background: transparent;
  color: #428bca;
  text-decoration: none;
  font-weight: bold;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: underline;
  color:#19507f;
}

pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
  white-space: pre-wrap;
  page-break-inside: avoid;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
} 

.table {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;

}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}

.nav {
    background-color: #222222;
  	border-color: #080808;
  	position: fixed;
  	right: 0;
  	left: 0;
  	z-index: 1030;
  	top: 0;
    border-width: 0 0 1px;
    padding: 3px 3px;
}

.barra {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #999999;
  text-decoration: none;
}

.barra:hover,
.barra:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.principal {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 40px; 
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.col-md-6,
.col-md-4 {
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 50%;
}

.btn {
	color: #ffffff;
	display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #428bca;
  background-image: none;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #ffffff;
  background-color: #3276b1;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-left: 180px;
  }

  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    display: table;
    content: " ";
  }

  .dl-horizontal dd:after {
    clear: both;
  }

  .dl-horizontal dd:before,
  .dl-horizontal dd:after {
    display: table;
    content: " ";
  }

.dl-horizontal dd:after {
  clear: both;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 2;
  color: inherit;
  background-color: #eeeeee;
}

.jumbotron h1 {
  line-height: 1;
  color: inherit;
}

.jumbotron p {
  line-height: 1;
}

.principal .jumbotron {
  border-radius: 6px;
}

.form-group {
  margin-bottom: 15px;
    margin-right: -15px;
  margin-left: -15px;
}

.form-group:before,
.form-group:after {
  display: table;
  content: " ";
}

.form-group:after {
  clear: both;
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}

.form-horizontal .form-group:after {
  clear: both;
}

.form-horizontal .form-control-static {
  padding-top: 7px;
}

.text-center {
  text-align: center;
}

.control-label {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #3276b1;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.col-md-offset-3 {
    margin-left: 25%;
}

